export("mcroast", "mcroastyx", "mixedroast", "mixedroastlmerlist")
exportClasses("mcrot", "mcroastci", "mixedrot")
importFrom("splines", ns)
import("lme4")
S3method(print, mcrot)
S3method(print, mixedrot)
S3method(confint, mcrot)
S3method(print, mcroastci)
