export("mcroast", "mcroastyx", "mixedroast", "mixedroastlmerlist", "glmroast", "glmroastlist")
exportClasses("mcrot", "mcroastci", "mixedrot", "glmrot")
importFrom("splines", ns)
import("lme4")
S3method(print, mcrot)
S3method(print, mixedrot)
S3method(print, glmrot)
S3method(confint, mcrot)
S3method(confint, mixedrot)
S3method(confint, glmrot)
S3method(print, mcroastci)
